.container {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
  }
  &__image {
    & img {
      width: 250px;
      border-radius: 50%;
    }
  }
  &__about {
    width: 50%;
    margin-top: 50px;
    & p {
      line-height: 24px;
      text-align: justify;
    }
  }
}
@media only screen and (max-width: 768px) {
  .container {
    &__about {
      width: 75%;
    }
  }
}
@media only screen and (max-width: 500px) {
  .container {
    &__about {
      width: 100%;
    }
  }
}
