.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
  }
  &__head {
    & h1 {
      font-size: 24px;
      font-weight: 400;
    }
  }
  &__searchBar {
    & input {
      padding: 10px;
      font-size: 16px;
      border-radius: 15px;
      &:focus {
        outline: none;
      }
    }
  }
  &__loading {
    text-align: center;
    font-size: 36px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__loadMore {
    text-align: center;
    margin-bottom: 50px;
    & button {
      padding: 10px;
      border-radius: 9px;
      width: 25%;
    }
  }
}

//RESPONSİVE STYLE

@media only screen and (max-width: 1100px) {
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media only screen and (max-width: 1100px) {
  .container {
    &__content {
      justify-content: space-around;
    }
  }
}
@media only screen and (max-width: 500px) {
  .container {
    &__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__head {
      margin-bottom: 45px;
    }
    &__content {
      justify-content: center;
    }
  }
}
