.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
  }
  &__head {
    & h1 {
      font-size: 24px;
      font-weight: 400;
    }
  }
  &__searchBar {
    & input {
      padding: 10px;
      font-size: 16px;
      border-radius: 15px;
      &:focus {
        outline: none;
      }
    }
  }
  &__loading {
    text-align: center;
    font-size: 36px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__loadMore {
    text-align: center;
    margin-bottom: 20px;
    & button {
      padding: 10px;
      border-radius: 9px;
      width: 25%;
    }
  }
}
