.container {
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 9px;
  background-color: #e6e6e6;
  &:hover {
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.15);
  }
  &__image {
    & img {
      padding: 8px;
      border-radius: 6%;
      height: 200px;
    }
  }
  &__names {
    display: flex;
    padding: 8px;
    & p:last-child {
      margin-left: 7px;
    }
  }
  &__email {
    padding: 8px 8px 13px 8px;
    & p {
      font-size: 11px;
    }
  }
}
